annotated-doc==0.0.4
appdirs==1.4.4
atomicwrites==1.4.0
code-review-graph==2.2.1
datasets==4.4.2
fastapi==0.135.3
fastmcp==1.0
hf-xet==1.2.0
httptools==0.7.1
httpx-sse==0.4.3
huggingface_hub==1.2.3
matplotlib==3.10.6
mcp==1.27.0
multiprocess==0.70.18
pyls-spyder==0.4.0
PyQt5==5.15.11
PyQtWebEngine==5.15.7
PySide6==6.9.2
python-multipart==0.0.24
setuptools==80.9.0
shiboken6==6.9.2
sse-starlette==3.3.4
starlette==1.0.0
torch==2.9.1
tree-sitter==0.25.2
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.25.0
tree-sitter-language-pack==0.13.0
tree-sitter-yaml==0.7.2
typer-slim==0.21.0
uvicorn==0.44.0
watchdog==5.0.3
watchfiles==1.1.1
websockets==16.0
wheel==0.45.1
xxhash==3.6.0
